= render :partial => "header"

- number_of_faq_questions = 12
- faq_links = { :new_tribe_link => link_to(t(".new_tribe_link"), new_tribe_path),
                :tribes_map_link => link_to(t(".tribes_map_link"), tribes_path),
                :translations_link => link_to(t(".translations_link"), "https://webtranslateit.com/en/projects/2056-Kassi/project_locales"),
                :github_link => link_to(t(".github_link"), "https://github.com/sharegrid/sharegrid") }

#faq
  .container_12
    .grid_12.alpha.omega
      %h1.new_tribe.browse= t(".faq_title")
    .clear
    .grid_8.prefix_2.suffix_2.alpha.omega
      #new_tribe_form
        - for i in 1..number_of_faq_questions
          .faq_question
            %p.faq
              = "#{i}. " + t(".q#{i}", faq_links).html_safe
          .faq_answer
            %p.faq
              = t(".a#{i}", faq_links).html_safe

= render :partial => "dashboard/footer"
