.conversation-price.accept-price{:class => (@action.eql?("accept") ? "" : "hidden")}
  %h3.invoice-title= t("payments.form.invoice")
  = fields_for "listing_conversation[payment_attributes]", @payment do |payment_form|
    = payment_form.hidden_field :community_id, :value => @current_community.id
    = payment_form.hidden_field :currency, :value => @listing_conversation.listing.currency

    .invoice-row
      .invoice-row-left.invoice-row-text-column
        = t("payments.form.product")
      .invoice-row-right.invoice-row-text-column
        = link_to @listing_conversation.listing.title, @listing_conversation.listing

    .invoice-row
      .invoice-row-left.invoice-row-text-column
        - payer = @listing_conversation.other_party(@current_user)
        = t("payments.form.price_for", :payer_given_name => link_to(payer.given_name_or_username, payer)).html_safe
      .invoice-row-symbol
        = @payment.total_sum.symbol
      .invoice-row-right
        = payment_form.text_field :sum, :value => @payment.sum, :class => "invoice-sum-field trigger-focusout"

    .invoice-row
      .invoice-row-left.invoice-row-text-column
        = t("payments.form.service_fee")
      .invoice-row-symbol
        = @payment.total_sum.symbol
      #service-fee.invoice-row-right.invoice-row-text-column
        = @payment.total_commission

    .invoice-row
      .invoice-row-left.invoice-row-text-column
        = t("payments.form.you_will_get")
      .invoice-row-symbol
        = @payment.total_sum.symbol
      #payment-to-seller.invoice-row-right.invoice-row-text-column
        = @payment.seller_gets
