%div{:style => "min-width:100%"}
  %table{:cellpadding => "0", :cellspacing => "0", :border => "0", :align => "center", :style => "text-align:center;margin:0;padding:0;width:100%!important;line-height:100%!important;background: #ebebeb;"}
    %tbody
      %tr
        %td
          %table{:cellpadding=> "0", :cellspacing => "0", :border => "0", :align => "center", :style => "text-align:center"}
            %tr
              %td{:style => "width:100%;max-width:602px", :valign => "top"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background:#fff;"}
                  %tbody
                    %tr
                      %td{:width => "5%"}
                      %td{:valign => "top", :width => "90%"}
                        %h1{:style => "font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-weight:400;font-size:18px;margin-top:20px;margin-bottom:5px; padding: 20px; background: #ebebeb;text-align: left;line-height:22px;"}
                          %span{:style => "color:#464646;"}
                            = t("emails.community_updates.update_mail_title", :title_link => link_to(@title_link_text, root_url(@url_params), :style => "color:#d96e21;font-weight:normal;text-decoration:none;")).html_safe
                        %div{:style => "font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:16px;line-height:22px; padding: 10px 0;text-align:left;"}
                          %p
                            = t("emails.newsletter.hi", :name => link_to(@recipient.given_name_or_username, person_url(@url_params.merge({:id => @recipient.id})), :style => "color:#d96e21;text-decoration:none;")).html_safe
                          %p
                            = t("emails.community_updates.intro_paragraph", :community_link => link_to(t("emails.community_updates.intro_paragraph_link_text", :community_name => @community.full_name(I18n.locale)), root_url(@url_params), :style => "color:#d96e21;text-decoration:none;"), :time_since_last_update => @time_since_last_update).html_safe
                      %td{:width => "5%"}
                    %tr
                      %td{:width => "5%"}
                      %td{:style => "text-align:left", :valign => "top", :width => "90%"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-bottom: 1px solid #ededed;", :width => "100%"}
                          %tbody
                            %tr
                              %td
                        = render :partial => "community_update_listing", :collection => @listings, :as => :listing

                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "padding-bottom:45px;padding-top: 20px;", :width => "100%"}
                          %tbody
                            %tr
                              %td
                                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;margin: 0 auto;", :height => "67", :align => "center"}
                                  %tbody
                                    %tr
                                      %td{:background => "https://s3.amazonaws.com/sharegrid-emails/email_action_button_left.png", :width => "12", :style => "background-repeat:no-repeat"}
                                      %td{:background => "https://s3.amazonaws.com/sharegrid-emails/email_action_button_middle.png", :bgcolor => "#d96e21"}
                                        = link_to t("emails.community_updates.post_a_new_listing"), new_request_without_locale_url(@url_params.merge({:type => "offer"})), :target => "_blank", :style => "display:inline-block;text-decoration:none;width:100%;padding:20px 20px 20px 20px;color:#ffffff;font-size:20px;font-weight:bold"
                                      %td{:background => "https://s3.amazonaws.com/sharegrid-emails/email_action_button_right.png", :width => "12", :style => "background-repeat:no-repeat"}
                      %td{:width => "5%"}
            %tr
              %td{:style => "text-align: left;width:100%;max-width:602px;padding: 5px 30px;"}
                %p{:style => "margin-top:10px;margin-bottom:5px;font-family:helvetica,arial,sans-serif;font-size:12px;color:#464646;"}
                  = t("emails.community_updates.reduce_email_footer_text", :settings_link => link_to(t("emails.community_updates.settings_link_text"), notifications_person_settings_url(@url_params.merge({:person_id => @recipient.id})), :style => "color:#d96e21; text-decoration: none;"), :unsubscribe_link => link_to(t("emails.community_updates.unsubscribe_link_text"), unsubscribe_person_settings_url(@url_params.merge({:person_id => @recipient.id, :email_type => "community_updates"})), :style => "color:#d96e21; text-decoration: none;")).html_safe
