- content_for :javascript do
  initialize_rental_request_form('#{I18n.locale}');

- link_path = reply_to_listing_path(:listing_id => @listing.id.to_s)
= form_for(@rental_request, as: :rental_request, url: link_path, html: { id: "rental_request_form"}) do |f|
  = f.hidden_field :id
  %h2
    = t("listings.rental_request.select_dates")
  = render :partial => "listings/rental_request/date_pickers", locals: {f: f, rental_request: @rental_request, is_owner: false}
  .listing-rental-request-summary
    = render :partial => "listings/rental_request/summary", :locals => {:is_owner => false}
  .listing-rental-request-error
    = render :partial => "listings/rental_request/notice"

  - if !@rental_request.id.present?
    %button.book-button{:type => "submit"}
      = @listing.transaction_type.action_button_label(I18n.locale)