= render :partial => "listings/form/javascripts", :locals => { :listing_id => @listing.id.to_s, :run_js_immediately => false }

- content_for :title_header do
  %h1= t(".edit_listing")

- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"

- @community_category = @current_community.categories

#new_listing_form.edit-listing-form.centered-section
  = form_for @listing, :html => {:multipart => true} do |form|
    = render :partial => "listings/form/title", :locals => { :form => form }
    = render :partial => "listings/form/price", :locals => { :form => form, :seller_commission_in_use => @seller_commission_in_use, :run_js_immediately => false }
    = render :partial => "listings/form/discount_rules", :locals => { :seller_commission_in_use => @seller_commission_in_use, :run_js_immediately => false }
    = render :partial => "listings/form/description", :locals => { :form => form }
    = render :partial => "listings/form/custom_fields", :locals => { :form => form, :listing => @listing, :custom_fields => @custom_field_questions }
    = render :partial => "listings/form/valid_until", :locals => { :form => form }
    = render :partial => "listings/form/origin", :locals => { :form => form, :origin_loc => @listing.origin_loc }
    = render :partial => "listings/form/googlemap", :locals => { :form => form, :run_js_immediately => false}
    = render :partial => "listings/form/images", :locals => { :form => form, :run_js_immediately => false }
    - if @listing.closed?
      = form.hidden_field :open, :value => true
    = form.hidden_field :last_modified, :value => DateTime.now
    = render :partial => "listings/form/visibility", :locals => { :form => form }
    = render :partial => "listings/form/privacy", :locals => { :form => form }
    = form.hidden_field :current_community_id, :value => @current_community.id
    = render :partial => "listings/form/send_button", :locals => { :form => form }

- ["help_valid_until"].each do |field|
  = render :partial => "listings/help_texts", :locals => { :field => field }
