$(".listing-rental-request-summary").html("<%= escape_javascript(render(:partial => 'listings/rental_request/summary', :locals => {:is_owner => @is_owner})) %>");
$(".book-button").attr("disabled", false);