@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "mixins/all";

// Social buttons
.listing-social {
  @include clearfix();
}

.listing-fb-like-button,
.listing-tweet-button {
  float: left;
  margin-right: lines(1);
}

// Listing price
.listing-price {
  clear: both; // Price floats to left
}

.listing-price-amount {
  @include huge-type;
  color: $light-body;
  display: block;
  float: left;
  margin-right: lines(0.25);
}

.listing-price-quantity {
  vertical-align: top;
  $hugeTypeLineHeight: lines(2);
  $hugeTypeFontSize: em($huge-type);
  $hugeTypeMargin: ($hugeTypeLineHeight - $hugeTypeFontSize) / 2; // Calculate the top margin based on the huge type
  $positionFineTune: em(2); // hugeTypeMargin calculates the correct position, but due to the different font size, some finetuning is needed
  // Use position relative, since the element is inline (no top-margin/padding should be used)
  position: relative;
  top: $hugeTypeMargin + $positionFineTune;
  color: $aside;
}

// Listing author
$listing-author-avatar-width: 108;
$listing-author-avatar-height: 108;

.listing-author {
  position: relative;
}

.listing-author-avatar {
  width: em($listing-author-avatar-width);
  height: em($listing-author-avatar-height);
  position: absolute;
  top: 0;
  left: 0;

  > a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.listing-author-avatar-image {
  @include border-radius($default-border-radius);
  display: block;
  width: 100%;
  height: 100%;
}

.listing-author-details {
  width: 100%;
  padding-left: em($listing-author-avatar-width);
  min-height: em($listing-author-avatar-height);
  padding-left: em($listing-author-avatar-width) + lines(0.75);
}

.listing-author-name {
  @include big-type;
  height: em($listing-author-avatar-width, 22) / 2;
  line-height: em($listing-author-avatar-width, 18) / 2;
}

.listing-author-location {
  background: transparent url("./map_icons/gray_marker.png") no-repeat 0px 2px;
  padding-left: 17px;
  color: #c6c6c6;
}

.listing-author-name-link {
  display: block;
  @include ellipsis;
}

.listing-author-contact-button {
  @include grey-button;
  width: 100%;
}

// Listing author activity

.listing-author-activity {
  @include clearfix();
}

.listing-author-activity-icon {
  font-size: 32px;
  line-height: (em(32, 32) * 1.5);
  display: block;
  float: left;
  width: em(32, 32);
}

.listing-author-activity-item {
  float: left;
  width: lines($right-column-1-3) - 0.75em - em(32) - lines(1); // FIXME!!!
  margin-left: lines(0.5);
}

.listing-author-activity-description {
  @include small-type;
  color: $border;
}

// Map
.listing-map {
  width: 100%;
  height: lines(8);
}

.listing-view-admin-links {
  margin-top: lines(0.5);
}

// Transaction action button
.book-button {
  @include big-button($book-button);
  margin-top: 0;
  width: 100%;
}

.checkbox-option {
  &.selected {

  }
  &.not-selected {
    color: $border;
  }
}

.checkbox-option-checkmark {
  display: inline-block;
  width: 20px;
  color: $link;
}

.discounted_price {
  display:inline-block;
  padding-left: 30px;
}
.datepicker-group {
  @include input-group(72,42);
  label.error {
    margin-bottom: 0;
  }
}
.datepicker-container {
  position: relative;
  padding-top:5px;
  padding-bottom:5px;
}

.listing-rental-request-summary {
  margin-bottom: 10px;
  label {
    margin: 0;
    &.title {
      background-color: $highlight;
      padding: 5px 10px;
      font-size: 18px;
    }
    &.subtotal {
      font-weight: 600;
    }
  }
}

.listing-rental-request-summary table tbody tr:nth-child(2n+1) {
  background-color: white;
}

#ajax-loading {
  font-size: 40px;
}

.listing-conversation-rental_request-form {
  label.error {
    margin-bottom: 0;
  }
  .edit-rental-dates {
    display: table;
    .from-datepicker-group {
      display: table-cell;
      padding-right: 5px;
      vertical-align: top;
    }
    .to-datepicker-group {
      display: table-cell;
      padding-left: 5px;
      vertical-align: top;
    }
  }
  .listing-wrapper {
    margin-top: 20px;
    display: table;
    .listing-rental-request-item-image {
      display: table-cell;
      vertical-align: top;
      padding-right: 15px;
    }
    .listing-rental-request-summary {
      margin-bottom: 0px;
      display: table-cell;
      width: 100%;
      vertical-align: top;
    }
  }
}

.edit-rental-dates-link {
  color: $book-button;
}