.from-datepicker-group
  .datepicker-group
    .input-group-addon
      = t("listings.rental_request.from")
    = fields_for "rental_request", rental_request do |rental_request_form|
      = rental_request_form.text_field :from_date, :id => "from_date", :class => 'form-control', :placeholder => t("listings.rental_request.pick_date")
    .input-group-addon
      %i.icon-calendar
      %i.icon-caret-down{:style => "color:black;padding-left:3px;"}
  #container1.datepicker-container
.to-datepicker-group
  .datepicker-group
    .input-group-addon
      = t("listings.rental_request.until")
    = fields_for "rental_request", rental_request do |rental_request_form|
      = rental_request_form.text_field :to_date, :id => "to_date", :class => 'form-control', :placeholder => t("listings.rental_request.pick_date")
    .input-group-addon
      %i.icon-calendar
      %i.icon-caret-down{:style => "color:black;padding-left:3px;"}
  #container2.datepicker-container
- content_for :extra_javascript do
  :javascript
    $(function() {
      var disabled_dates = [#{json_requests_dates(@listing.accepted_rental_requests)}];
      $from_date = $('#from_date').pickadate(
        {
          format: 'm/d/yyyy',
          //should be same as ApplicationHelper::to_js_date
          //should be same as format ListingConversationsController::new, ListingsController::rental_request_summary
          min: true,
          disable: disabled_dates,
          container: "#container1",
          today: '',
          clear: ''
        });
      var from_picker = $from_date.pickadate('picker');
      if (#{to_js_date(rental_request.from_date)})
        from_picker.set('select', #{to_js_date(rental_request.from_date)});
      $to_date = $('#to_date').pickadate(
        {
          format: 'm/d/yyyy',
          min: from_picker.get('select') ? new Date(from_picker.get('select').pick + 24 * 3600000) : 1,
          disable: disabled_dates,
          container: "#container2",
          today: '',
          clear: ''
        });
      var to_picker = $to_date.pickadate('picker');
      if (#{to_js_date(rental_request.to_date)})
        to_picker.set('select', #{to_js_date(rental_request.to_date)});
      var from_date_changed = false;
      function refresh_rental_request_summary() {
        var from = from_picker.get('select');
        var to = to_picker.get('select');
        if (from && to) {
          $("#ajax-loading").show();
          $(".listing-rental-request-summary-table").hide();
          $(".book-button").attr("disabled", true);
          $.ajax({
            url: "#{rental_request_summary_listing_path(@listing)}",
            type: "GET",
            data: {from: from.obj.toLocaleDateString(), to: to.obj.toLocaleDateString(), is_owner: #{is_owner}}
          });
        } else {
          $(".listing-rental-request-summary-table").hide();
        }
      }

      $('#from_date + .input-group-addon').on('click', function(event) {
        to_picker.close();
        from_picker.open();
        event.stopPropagation();
        event.preventDefault();
      });
      $('#to_date + .input-group-addon').on('click', function(event) {
        from_picker.close();
        to_picker.open();
        event.stopPropagation();
        event.preventDefault();
      });
      $("#from_date").on('change', function() {
        var from_date = from_picker.get('select');
        if (from_date) {
          from_date_changed = true;
          to_picker.set('max', false);
          for(var i = 0; i < disabled_dates.length; i++) {
            disabled_from = disabled_dates[i].from;
            if (new Date(from_date.year, from_date.month, from_date.date) <= new Date(disabled_from[0], disabled_from[1], disabled_from[2]))
              to_picker.set('max', new Date(disabled_from[0], disabled_from[1], disabled_from[2]));
          }
          to_picker.set('min', new Date(from_date.pick + 24 * 3600 * 1000));
          to_picker.set('select', from_date.pick + 24 * 3600 * 1000);
        }
      });
      from_picker.on('close', function() {
        if (from_date_changed)
          to_picker.open();
        from_date_changed = false;
      });
      $("#to_date").on('change', function() {
        refresh_rental_request_summary();
      });
      refresh_rental_request_summary();
    });