- if !@rental_request.new_record? && (@rental_request.pending? || @rental_request.submitted_another?)
  .flash-notification{:class => "flash-notice"}
    .flash-icon{:class => "icon-ok"}
    .flash-text
      = t("layouts.notifications.you_have_pending_request_for_this")
      %br
      = link_to(t("layouts.notifications.view"), person_message_url({:person_id => @current_user.id, :id => @rental_request.conversation.id.to_s}))
- elsif @rental_request.suggesting_different?
  .flash-notification{:class => "flash-notice"}
    .flash-icon{:class => "icon-ok"}
    .flash-text
      = t("layouts.notifications.offerer_has_suggested_different_dates")
      %br
      = link_to(t("layouts.notifications.view"), person_message_url({:person_id => @current_user.id, :id => @rental_request.conversation.id.to_s}))