#ajax-loading.text-center{:style => "display:none;"}
  .icon-spinner.icon-spin
- if @rental_request.days
  .listing-rental-request-summary-table
    %label.title
      = t("listings.rental_request.order_summary")
    %table
      %tr
        %td
          = humanized_money_with_symbol(@listing.price).upcase
          X
          = t("listings.rental_request.days", count: @rental_request.days)
        %td.text-right
          = humanized_money_with_symbol(@rental_request.sum).upcase
      - if @rental_request.applied_discount_rule
        %tr
          %td
            = t("listings.rental_request.day_discount", count: @rental_request.applied_discount_rule.days_range_from)
          %td.text-right
            - if @rental_request.discount_value.to_f < 0
              = "-" + humanized_money_with_symbol(-@rental_request.discount_value).upcase
            - else
              = humanized_money_with_symbol(@rental_request.discount_value).upcase
      %tr
        %td.text-right
          %label.subtotal
            = t("listings.rental_request.subtotal").upcase
        %td.text-right.bold
          = humanized_money_with_symbol(@rental_request.subtotal).upcase
      - if is_owner
        %tr
          %td.text-right
            = t("listings.rental_request.service_fee")
          %td.text-right
            = "-" + humanized_money_with_symbol(@rental_request.service_fee(@current_community)).upcase
        %tr{:style => "color: #C2E972"}
          %td.text-right
            = t("listings.rental_request.your_profit").upcase
          %td.text-right
            = humanized_money_with_symbol(@rental_request.owner_profit(@current_community)).upcase