/*
  -----------------------------------------
  Color presets
  -----------------------------------------
  A good way to select hues:
  1. Pick one hue (0–360)
  2. Add it to, or substract it from one of
     the following:
     - 360/1.618 (split-complementary color)
     - 360/2 (complementary color)
     - 360/3 (triadic color)
     - 360/4 (quad…tric color)
     - 360/5 (pentatonic color)
  -----------------------------------------
  Values derived using the golden ratio:

  100% / 1.618^1          = ~61.8%
  100% / 1.618^2          = ~38.2%
  100% / 1.618^3          = ~23.6%
  100% / 1.618^3          = ~14.6%
  100% / 1.618^3          =  ~9.0%
  100% / 1.618^3          =  ~5.6%
  100% - (100% / 1.618^6) = ~94.4%
  100% - (100% / 1.618^5) = ~91.0%
  100% - (100% / 1.618^6) = ~85.4%
  100% - (100% / 1.618^6) = ~76.4%

  Try using these values as the saturations
  and lightnesses of colours you use.
  The results are usually pleasing.
  -----------------------------------------
*/

$primary-hue: 25;
$notification-hue: 80;
$error-hue: 0;

$background:  hsl($primary-hue, 0%, 100%);
$highlight:   hsl($primary-hue, 0%, 91%);
$border:      hsl($primary-hue, 0%, 76.4%);

$aside:       hsl($primary-hue, 0%, 50%);
$light-body:  hsl($primary-hue, 0%, 28%);
$body:        hsl($primary-hue, 0%, 23.6%);
$emphasis:    hsl($primary-hue, 0%, 9%);

$link:        #3a3a3a;
$link2:       #00a26c;
$book-button:  #ff3120;

// notification colors
$green:       hsl($notification-hue, 73.4%, 28.2%);
$light-green: hsl(110, 38%, 76%);
$red:         hsl($error-hue, 73.4%, 38.2%);
$error-red:   hsl($error-hue, 73.4%, 45.2%);
$yellow:      #D1C905;

$cover-photo-url: "/assets/cover_photos/header/default.jpg";
$small-cover-photo-url: "/assets/cover_photos/header/default.jpg";
$wide-logo-lowres-url: "/assets/logos/full/default.png";
$wide-logo-highres-url: "/assets/logos/full/default-highres.png";
$square-logo-lowres-url: "/assets/logos/mobile/default.png";
$square-logo-highres-url: "/assets/logos/mobile/default-highres.png";
$cover-photo-height: 453;
$cover-photo-mobile-height: 365;
$small-cover-photo-height: 96;
$small-cover-photo-mobile-height: 66;
$lander-content-top: -15.25;
$lander-content-top-mobile: -14;
