- content_for :javascript do
  initialize_reply_form('#{I18n.locale}');

- other_party = @conversation.other_party(@current_user)

- content_for :title_header do
  %h1
    = link_to received_person_messages_path(:person_id => @current_user.id) do
      = t("layouts.no_tribe.inbox")
    |
    = t(".conversation_with", person: link_to(other_party.name, other_party)).html_safe

.centered-section-wide
  .message-avatar-padding
    .row
      .col-12
        %h2
          - @conversation.with(:listing_conversation) do
            = link_to @conversation.listing.title, @conversation.listing

        - @conversation.with(:listing_conversation) do
          = render partial: "conversations/details", locals: { listing_conversation: @conversation, listing: @conversation.listing }

        - @conversation.with(:listing_conversation) do
          - listing = @conversation.listing

          - if @rental_request
            = render :partial => "conversations/rental_request/different_dates"

          - if @conversation.status.eql?("free") && @current_community.payments_in_use?
            -# Show Call to Action button for free conversations

            - unless listing.author == @current_user
              = link_to reply_to_listing_path(:listing_id => listing.id.to_s), :class => "message-book-button" do
                .content
                  = listing.transaction_type.action_button_label(I18n.locale)

          - else
            -# Show current status for others

            .conversation-status-wrapper{:id => "conversation_#{@conversation.id.to_s}_status"}
              = render :partial => "status", :locals => { :conversation => @conversation }


  #reply_form.message-avatar-padding.message-reply-form
    = form_for Message.new, :url => person_message_messages_path(:person_id => @current_user.id, :message_id => @conversation.id.to_s) do |f|
      = f.label :content, t(".write_a_reply")
      = f.text_area :content, :class => "reply_form_text_area"
      = f.hidden_field :conversation_id, :value => @conversation.id.to_s
      = f.hidden_field :sender_id, :value => @current_user.id
      = f.button t(".send_reply")

  #messages
    = render :partial => "message", :collection => @conversation.messages.reverse
