= "Estimado #{@given_name},"

Te presentamos una plataforma disponible exclusivamente para la comunidad Diseño UDD: Sharegrid. Es un sitio web diseñado únicamente para compartir en comunidad:

http://disenoudd.sharegrid.com

¿Más específico?

Es una red en la cual puedes compartir lo que quieras: productos, servicios, traslados y hasta inmuebles. Pero la gracia es que funciona en un entorno local y de confianza: sólo tienen acceso los miembros de la comunidad Diseño UDD.

¿Qué se puede compartir en Sharegrid?

Algunos ejemplos: puedes vender, trocar o regalar todo aquello que no necesitas más: ropa vieja, libros, dvds y discos antiguos, muebles, etc. También puedes arrendar o prestar instrumentos musicales, equipamiento deportivo, o cosas que no usas todos los días. O a lo mejor quieres ahorrar tiempo y dinero compartiendo un traslado a la U a través de un sistema de turnos (así aprovechas de cuidar el medio ambiente!). O puedes publicar tus habilidades y ponerlas al servicio de los demás: clases particulares, consultorías, apoyo a alumnos de intercambio, etc.; y de la misma manera solicitar ayuda a toda la comunidad Diseño UDD.

¿Tengo que pagar por usar Sharegrid?

Absolutamente nada! Para ti como usuario el servicio es totalmente gratuito y nunca deberás desembolsar un peso por publicar algo en la comunidad.

¿Entonces...?

Tu cuenta ya ha sido creada! Sólo tienes que activarla siguiendo estos pasos
1. Abre el enlace: https://disenoudd.sharegrid.com/es/login
2. Llena los campos con los siguientes datos:

= "Nombre de usuario: #{@username}"
= "Contraseña: #{@password}"

y listo! Comienza a compartir!

Si tienes más preguntas, revisa el siguiente link: http://disenoudd.sharegrid.com/es/infos/how_to_use o escribe a diego@sharegrid.com

¡Gracias por tu tiempo!

Saludos,
Diego Ramírez
Sharegrid Chile
