- conversation_url = person_message_url(@url_params.merge({:person_id => @recipient.id, :id => @payment.conversation.id.to_s}))

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.new_payment.you_have_received_new_payment", :listing_title => @payment.conversation.listing.title, :payment_sum => sum_with_currency(@you_get, @payment.currency), :payer_full_name => @payment.payer.name(@community), :payer_given_name => @payment.payer.given_name_or_username).html_safe

%tr
  %td{:align => "left", :style => "padding: 20px 0;"}
    %table{:cellpadding => 5, :cellspacing => 0, :style => "border-collapse: collapse; width: 100%"}
      %tbody
        %tr
          %td{:width => "200"}
            %b= t("emails.braintree_new_payment.product")
          %td
            = @payment.conversation.listing.title
        %tr
          %td
            %b= t("emails.braintree_new_payment.price_payer_paid", :payer_full_name => @payment.payer.given_name_or_username)
          %td= sum_with_currency(@payment.total_sum, @payment.currency)
        %tr
          %td
            %b= t("emails.braintree_new_payment.service_fee")
          %td= sum_with_currency(@service_fee, @payment.currency)
        %tr{:style => "border-top: 1px solid black"}
          %td
            %b= t("emails.braintree_new_payment.you_will_get")
          %td= sum_with_currency(@you_get, @payment.currency)

%tr
  %td{:align => "left"}
    %font{body_font}
      The money will be transferred to your account when a) #{@payment.payer.name(@community)} has marked the request completed or b) #{@payment.conversation.automatic_confirmation_after_days} days have passed since
      - if @payment.conversation.rental_request.present?
        agreed start date
        = l @payment.conversation.rental_request.from_date, :format => :long_ordinal_without_year
        \.
      - else
        you paid.

= render :partial => "action_button", :locals => { :text => t("emails.conversation_status_changed.view_thread"), :url => conversation_url}
