%tr
  %td{:align => "left", :style => "padding-top: 15px; padding-bottom: 20px;"}
    %font{body_font}
      %p
        Hello #{@recipient.given_name_or_username},

      %p
        You are receiving this email because you are an admin in the Sharegrid community #{link_to(@community.name(@recipient.locale), @community.full_url + '?auth=' + @url_params[:auth] + '&ref=' + @url_params[:ref])}. There has been a lot of changes recently in Sharegrid, and we wanted to tell you a bit about them.

      %p
        First of all, the previous membership limit is now completely removed. All the current features of Sharegrid are and will be completely free for your community, so now is a good time to invite more people to the community to make it thrive! You can invite people you know by using our redesigned #{link_to('invitation form', new_invitation_url(@url_params))}.

      %p
        There is also finally a decent #{link_to('admin side', edit_details_admin_community_url(@url_params.merge(:id => @community.id)))} in Sharegrid. You can now do things like modify the look & feel of the community (logo, cover photo, colors, texts) and send messages to all the members. You can also see how many members there are in the tribe from the new #{link_to('members page', people_url(@url_params))}.

      %p
        Sharegrid now works great on all mobile devices. Just point your mobile browser to the same address as normally and the site will responsively show the view that is optimized for smaller screens. If you have an iPhone, you can #{link_to("download the Sharegrid app", 'https://itunes.apple.com/us/app/sharegrid/id545640772?mt=8')} from the App Store for even easier access.

      %p
        Check out the new Sharegrid at #{link_to(@community.full_url, @community.full_url + '&ref=' + @url_params[:ref])} and let us know what you think. And don’t forget to invite others to see it too! If you have any questions, thoughts or feedback, let us know by replying to this email.

      %p
        Love,
        %br/
        The Sharegrid Team

      %p
        P.S. If you don’t want to receive more emails like this from Sharegrid, you can let us know by replying to this message.
