- conversation_url = person_message_url(@url_params.merge({:person_id => @recipient.id, :id => @conversation.id.to_s}))
- action_url = person_message_url(@url_params.merge({:person_id => @recipient.id, :id => @conversation.id}))
- action_text = t("emails.conversation_negotiating_status_changed.view_thread")
- additional_text = ""

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.conversation_negotiating_status_changed.other_party_#{@conversation.status}_for", :other_party => @conversation.other_party(@recipient).given_name_or_username, :listing => @conversation.listing_title)
      = additional_text
%tr
  %td{:align => "left"}
    %font{body_font}
      %span{:style => "font-weight: 600;"}
        = t("emails.conversation_negotiating_status_changed.original_dates")
        \:
      = l @rental_request.from_date, :format => :long_ordinal_without_year
      \-
      = l @rental_request.to_date, :format => :long_ordinal_without_year
%tr
  %td{:align => "left"}
    %font{body_font}
      %span{:style => "font-weight: 600;"}
        = t("emails.conversation_negotiating_status_changed.#{@conversation.status}ed_dates")
        \:
      = l @rental_request.new_from_date, :format => :long_ordinal_without_year
      \-
      = l @rental_request.new_to_date, :format => :long_ordinal_without_year

= render :partial => "action_button", :locals => { :text => action_text, :url => action_url}
