- url = person_message_url(@url_params.merge({:person_id => @recipient.id, :id => @message.conversation.id.to_s})) + "#message#{@message.id.to_s}"

%span{id: SecureRandom.hex}
  %tr
    %td{:align => "left"}
      %font{body_font}

        = t("emails.new_rental_request.has_sent_you_a_request_in_kassi", :sender => @message.sender.name(@current_community))
  %tr
    %td{:align => "left"}
      %font{body_font}
        %span{:style => "font-weight: 600;"}
          = t("emails.new_rental_request.requested_dates")
          \:
        = l @rental_request.from_date, :format => :long_ordinal_without_year
        \-
        = l @rental_request.to_date, :format => :long_ordinal_without_year
  = render :partial => "action_button", :locals => { :text => t("emails.new_rental_request.view_request"), :url => url}
