<h2>General terms and conditions of use of the electronic money MANGOPAY</h2>

Entered into between:
The client, natural capable adult who uses the electronic money issued by Leetchi Corp SA , through MANGOPAY, hereinafter referred to as “You” or the “User”, on the one hand;

Leetchi Corp. S.A., société anonyme incorporated under Luxembourg law, with a share capital of 500.000 Euros, having its registered office at 14, rue d’Aldringen, L-1118 Luxembourg and registered in the Luxembourg Trade and Companies Register under number B173459, hereinafter referred to as “Leetchi” or the “Issuer”, on the other hand; and,

Hereafter collectively called “Parties”,



<b>Warning</b>

Please carefully read the General Terms and Conditions of the MANGOPAY service of the Use of Electronic Money. If you wish to become a User, you must read these General Terms and Conditions of Use and accept them within the context of the registration process. Otherwise, you undertake to leave this website


<h3>1. Definitions</h3>

For the purposes hereof, the words here after are defined as follows:

API: « Application Programming Interface » means the programming interface made available by the Issuer to the Partner for the proper functioning of the Site.

Bank: Crédit Mutuel Arkéa,ING Luxembourg or any credit institution that has been authorized in a member state of the European Economic Area, which the issuer could replace in the future.

Beneficiary: Person who receives the Electronic Money through a Payment Transaction. It being noted that the Beneficiary can be an online vendor who is a User’s partner accepting the Electronic Money as a means of payment, or a non-profit seeking body, or a natural person or a legal entity.

Credit Card: Debit or credit card, valid in France and not expired, subject to their authorisation by the Issuer (Visa, MasterCard, CB) used in order to pay a Participation.

General Conditions of Use: means this document.
General Conditions of the Website: means the general conditions of use of the Website concluded between the

User and the Distributor governing in particular the access to the Website, the conclusion of Transactions

generating an Account opening request at the name of the user for the needs of Payment Transactions and the purchase of Electronic Money.

Special Conditions: means the information:

to be filled-in by the User for his or her registration with the Site which includes the information necessary to the entering into of this document and regarding, in particular, his or her last name, first name, date of birth, valid email address and password. Such information is provided to the Issuer for the purpose of the account opening.

Account: means the Electronic Money account opened by the Issuer in its books in the name of the User on demand of the Distributor.

Contract: means these General Conditions of Use together with the General Conditions of Sale and the associated Special Conditions.

Distributor(s): means a legal entity owning a Site that wishes to offer to its users the possibility of opening an Account, purchase Electronic Money issued by the Issuer through the Site and to use the Electronic Money in order to make a Payment Transaction to a Beneficiary. Such entity is mandated, for this purpose, by the Issuer to distribute the Electronic Money to the Users of its Site.

Issuer: means Leetchi Corp, issuer of the Electronic Money.
Login: means the data necessary to the identification of a User by the Issuer which includes a User name (valid

email address) and a password.

Business day: means a calendar day excepting Saturdays, Sundays, and public holidays in mainland Luxembourg.

MANGOPAY: the API (“Application Programming Interface” or “programming interface”) provided by Leetchi to the Partner to ensure the Website’s proper functioning.

Electronic Money: means the monetary value stored under an electronic support on the Issuer’s server, and representing a receivable over the latter. The Electronic Monetary is issued by the Issuer in exchange for the User’s delivery of the corresponding funds.

Payment Transaction: means the payment of a Beneficiary made by transfer of Electronic Money from a User account to a Beneficiary account.

Withdrawal: means a wire transfer request by the Beneficiary to his/her bank account of the amount of the reimbursement receivable of Electronic Money over the Issuer reduced of potential fees within the limit of the applicable regulation.

Reimbursement: means a repayment by the Issuer of all or part of the Electronic Money held by the User. Website: means the web site Sharegrid created and managed by the Distributor, which

integrates the MANGOPAY solution.

Transaction: means a transaction concluded by a User regarding the General Conditions of the Website and generating a Payment Transaction.

User : Any natural person acting on his or her own behalf and using the Electronic Money issued by the Issuer in order to execute payment Transactions.

Fees: mean the fees owed to the Issuer regarding the issuance and the management of Electronic Money as detailed hereof and within the limits of applicable law.

<h3>2. Purpose</h3>

The purpose of these General Conditions of Use is to define the conditions on which the Issuer and the Distributor supply to the User the services of issuance , use and management of the Electronic Money issued by the Issuer in return for the payment of the fees defined in the General Conditions of Sale.

These General Conditions of Use, completed the Special Conditions constitute the whole Contract entered into between the Parties regarding issuance, use and management of the Electronic Money issued by the Issuer; they are incorporated by reference to the General Conditions of the Website binding the Distributor and the Issuer regarding the payment modalities

The User can, at all times and without any supplemental fees, obtain a copy of these documents on the Website. Only the Contract shall prevail in case of litigation.

<h3>3. User Registration</h3>
3.1 Necessary and previous conditions to the registration

In order to register, the User must be at least 18 years old and be legally capable throughout the duration of the Contract.

3.2 Registration procedure and creation of a User’s account

At his/herregistration, the User shall provide, in particular, his/her last name, first name, email address and date of birth; citizenship; country of residence.

The User must indicate a login, which includes a User name (valid email address) and a password. He/she is solely responsible for maintaining the confidentiality of his/her Login. The User agrees not to use at any time the Accounts, name or User name owned by another User, neither to disclose his/her login to a third party. The User agrees to inform immediately the Issuer, in case he/she suspects a non-authorized use of his/her login at the following email address: support@sharegrid.com. He/she is solely responsible for any use of his/her login.

By accepting these General Conditions of use, you agree that the Distributor processes your registration to the dedicated service of the Issuer, whenever it deems necessary. The creation of your User Account formalises the creation of the contract. The Issuer and the Distributor may give no effect to an application for registration without motivation or right to compensation. The Issuer, through the Distributor, is allowed to request for further information and identification data to the User, and all supporting documents it may consider useful.

The User declares at the registration and throughout the duration of the Contract that:

- (a) that he/she is at least 18 years old;
- (b) that all information provided during the registration are true, accurate and up-to-date.

3.3 Limitations of the Electronic Money account’s use

As long as the User has not provided the documents required by the Issuer allowing the latter to verify his or her identity, the following limitations will be imposed on the individual User:


-  A total amount of 2.500 Euros maximum- Electronic Money owned by a User during one calendar year via the same Website, and

 
-  A total amount of 1.000 Euros maximum of reimbursement of Electronic Money during one calendar year via the same Website.

Upon receipt of the following documents subject to such documents be deemed satisfactory by the Issuer, the latter may release the limitations applying to the User:

 
-  The copy of an official and valid identity document : for French citizens a copy of the identity card (double-sided), and for the foreigners residing in France or abroad, the passport;

 
-  If the Beneficiary is not the beneficial owner of the funds, the identity of the beneficial owner with a copy of his or her identity card or his or her passport if he or she is a foreigner, and eventually;

 
-  Proof of residence that may be requested at the discretion of the Issuer.

Upon receipt of the following documents subject to such documents being deemed satisfactory by the Issuer, the latter may release the limitations applying to the legal entity User:

-  Statutes;

-  A recent extract of the register of incorporation.

-  The headquarter address and the legal system governing the constitution and the functioning of the company.

-  Declaration form of all the beneficial owners owning more than 10% of the shared capital, signed by the managers, and the ID’s of individual beneficial owners.

-  ID of the manager or of the duly empowered individual to engage the company. 

-  The bank details of the company.

Upon receipt of the following documents subject to such documents be deemed satisfactory by the Issuer, the latter may release the limitations applying to the organization User:

-  Statutes;
-  ID of the president of the organization; 
-  Receipt of statement creation.

In addition, it is expressly provided that the Issuer retains the possibility to request the above documents to identify the Users and the beneficial owner of the Account in accordance with applicable regulations from the opening of the account.

<h3>4. Functioning of the Account</h3>
4.1 Purchase of Electronic Money

The purchase of the Electronic Money may be made by debit or credit card in one or several times. The cash amount paid by the User is collected by the Issuer in exchange of the issuance of units of Electronic Money for a nominal value equivalent and stored on the Account net of issuance and management fees provided for in the General Conditions of Sale.

4.2 Reimbursement due to purchase’s cancellation of Electronic Money

The User who owns Electronic Money may request the repayment of all or part of the Electronic Money (a “Reimbursement”) at any time before any use to the benefit of a Beneficiary. To be valid, a reimbursement has to be requested to the following address: support@sharegrid.com.

The User must indicate the amount of the reimbursement requested which may be total or partial. The Issuer therefore adjusts the units of Electronic Money issued by him and owned by the User. The Issuer initiates a credit order of the Credit Card within 5 (five) business days following receipt of the request of the User.

4.3 Holding of Electronic Money

The Issuer holds the equivalent amount of Electronic Money on the Account up to:

 
-  the date of the Reimbursement, or

 
-  the date of completion of a Payment Transaction.

4.4 Use of the Electronic Money in order to realize a payment transaction The amount of Payment Transactions is charged against the amount of the Electronic Money listed on the account. When the amount of the Electronic Money listed on the account is lower than the price of the Payment Transaction, the User may pay the additional price required by using one of the means of payment accepted by the Website on which the payment transaction is performed. Conversely, when there is a remaining balance of Electronic Money on the Account after the Payment Transaction, it may give rise, further to the decision of the User, to a new Payment Transaction.

The Issuer is not concerned the legal relation that exists between the User and the Beneficiary of the Payment Transaction. The Issuer shall not be held liable for mistakes, defaults or negligence of the User or the Beneficiary towards one another.

The Electronic Money is transferred after the execution of a Payment Transaction for the benefit of the Beneficiary.

4.5 Use of Electronic Money received for a Payment Transaction

The Beneficiary may, according to the circumstances and regarding the agreement and/or the General Conditions of Use, immediately use the received Electronic Money to do a new Payment Transaction or ask for a Withdrawal.

The Issuer shall then pay the Beneficiary the corresponding sum to a bank account opened in his/her name in the books of a bank having its registered office in the European Economic Area or in a country supported by the Distributor. For this purpose, the Beneficiary must communicate the IBAN number and the SWIFT code or any other information of his/her bank account with his/her address.

The Beneficiary who owns the Electronic Money is deemed to be the beneficial owner of the Reimbursement within the meaning of the regulation. Otherwise, the Beneficiary undertakes to communicate the email address, the date of birth, the nationality and the postal address of the person to whom the Beneficiary shall pay the funds issued of the Reimbursement. The Reimbursement and the corresponding use of funds are realized under the exclusive responsibility of the Beneficiary.

When the Beneficiary decides to proceed to a Reimbursement of Electronic Money, fees may be applicable in accordance with the General Conditions of the Website.

4.6 Transmission and execution of a Reimbursement order

When he/she wishes to execute a Reimbursement, the User of the Account proceeds to his/her identification on the Website by filling his/her user name (valid email address) and password. He/she completes the Reimbursement application form in the appropriate section and communicates, as the case may be, the appropriate supporting documents requested by the Issuer. The Reimbursement request becomes irrevocable when the User clicks on the validation tab of the form. The Issuer then sends a confirmation email to the User and then proceeds to the reimbursement transaction following the form.

<h3>5. Login objection, challenge of a Payment Order and Reporting</h3>

5.1 Login objection

The User must inform the Distributor about the loss or the theft of his/her Login, in case of misuse or unauthorized use of his/her Login or data as soon as he/she becomes aware of this fact in order to block the access to such data. Such a declaration has to be realized:

 
-  by telephone call to the Customer Service of the Distributor at the following number +358 50 5311 793

Or

 
-  directly by email at the following email address: support@sharegrid.com.

The Issuer through the Distributor will immediately execute the objection request of the Login concerned. The event will be recorded and time stamped. A time stamped objection number will be provided to the User. A written confirmation of the objection request will be sent by the Distributor to the concerned User by email, fax or registered mail. The Issuer is in charge of the file on the administrative level and retains all the data during 18 (eighteen) months. Upon written request of the User and before the expiration of such a deadline, the Issuer will communicate a copy of this objection request.

Any objection request shall be confirmed without delay by the concerned User with a declaration signed by this latter, handed over or sent by registered mail, or email, to the Issuer at the post address hereby mentioned in the letterhead or at the following address "Sharegrid Ltd, Itälahdenkatu 6 A 12, 00210 Helsinki, Finland" .

The Issuer and the Distributor shall not be held liable for the consequences of an objection made by fax or email by a person who is not the User.

An objection request is deemed to be done at the date of the effective receipt by the Distributor. In case of theft or fraudulent use of the Login, the Issuer is entitled to request a receipt or a copy of the complaint to the User who is committed to respond as soon as possible.

5.2 Challenge of a Transaction

For any claim concerning transactions executed hereunder by the Issuer, such as a Payment Transaction or any debit taken from or credit transaction made to the User’s Account, regarding especially a purchase of Electronic Money, a Withdrawal or a Reimbursement (hereafter a “Transaction”), the User may contact the Distributor’s Customer Service or write to any address indicated for that purpose in the General Conditions of the Website.

The User who wishes to challenge an unauthorized or poorly performed transaction must transfer his/her request to the Distributor as soon as possible and within 13 months from the date of transfer of Electronic Money (a “Challenge”).

The liability of the Issuer shall not be invoked in case of any fault of the User, wilful default or gross negligence to his/her obligations, late transfer of the challenge or in bad faith.

After the validation of the Challenge by the Issuer, the latter will be in charge of re-instating as a temporary credit of Electronic Money units the Electronic Money Account in the condition that it was in before the realisation of the disputed transaction.

5.3 Reporting

The Issuer will maintain in its books the account of Electronic Money within 13 (thirteen) months from the date of each Payment Transaction by Electronic Money in order to deal with any Challenge. The User may obtain online at any time on the Website a detailed statement of his/her Payment Transactions realized by Electronic Money.

After the execution of each Transaction, the User will receive by mail from the Distributor the following information:

 
-  a) a reference to identify the relevant Transaction;

 
-  b)information concerning the parties involved in the relevant Transaction, as the case may be;

 
-  c) the amount of the relevant Transaction and the purpose of the relevant transaction, as the case may

be;

 
-  d) the date of receipt of the corresponding order and/or the date on which the corresponding amount in

Electronic Money is transferred, as the case may be;

<h3>6. Amendment to the Contract</h3>

The Issuer retains the right to modify the General Conditions of Use at any time. Such amendments are made available by the Distributor to all Users at the address provided at their registrations. Any User may refuse the amendments proposed and must notify his/her refusal to the Distributor’s Customer Service by registered letter with acknowledgement of receipt before the date of effectiveness of the amendments (stamp of postal office as a proof) at the address of the Distributor.

In the event of failure to notify his/her refusal before the date of effectiveness, or failing that, before a 7 (seven) day period after they are posted on the Website, the User shall be deemed to have accepted the amendments proposed. The relationship between the Parties after the date of effectiveness shall be governed by the new version of the General Conditions of Use.

It is therefore important that the User reads his/her emails and reads regularly the General Conditions of Use available online on the Site at any time.

In case of refusal by the User of the amendments, he/she has the right to obtain the termination of the General Conditions of Use, without any fees, and the Reimbursement of the units of Electronic Money that he/she owns.

<h3>7. Liability of the Issuer under the access to the Site</h3>

The Issuer shall not be held liable to the Users for errors, omissions, interruptions or delays of the transactions executed through the Website resulting in an unauthorized access to the Website. Moreover, the Issuer shall not be held liable for thefts, destructions or unauthorized communications of data resulting from unauthorized access to the Website.

The Issuer retains the right to temporarily suspend the online access to the Account for technical or maintenance reasons without any compensation. He undertakes to limit this type of interruption to a strictly minimum.

The Distributor undertakes to do its best to insure the safety and the confidentiality of the data exchanged under the use of the Website in accordance with the General Conditions of the Website, while the Issuer is in charge of the security and the confidentiality of data it hereby exchanges with the User regarding the creation and the management of the Account and the Transactions concerning this Account.

<h3>8. Exemption case of liability of the Issuer</h3>

The Issuer does not exercise any control on the compliance, security, legality, characteristics and adequate character of the products or services, which are underlying to the Transactions. In this respect, the User shall collect all the useful information before purchasing the products with full knowledge of the facts. Each purchase made by the User gives rise to a contract directly created between the User and the vendor to which the Issuer is not concerned. Therefore, the latter cannot be held liable for the non-performance or poor performance of the obligations resulting therefore, nor for potential damages caused to the User as such.

Notwithstanding any clause to the contrary in this Contract, the liability of the Issuer towards a User is limited to the repair of damages directly caused by the non-performance of a contractual obligation under this contract.

<h3>9. Commitment of the User</h3>

The User guarantees that nothing in his/her profile on the Site shall affect third party rights or is contrary to law, public order and good conduct.

He/she undertakes not to:

Perform the Contract in an illegal manner or within conditions which may damage, deactivate, overload or affect the Site;
Appropriate illegally the identity of any other person or entity, falsify or withhold your identity, your age or create any false identity;

Distribute personal data or information about a third party, such as postal address, phone number, email address, credit card numbers, etc.;

In case of default to these obligations, the Issuer retains the right to take every appropriated measure in order to stop the concerning behaviour. It therefore retains the right to delete or remove any content or information considered as inappropriate. It can also suspend and cancel his login and block the access to his/her Account.

Without prejudice to proceedings brought by third parties, the Issuer has the right to bring legal action in its own name in order to repair the prejudice personally suffered due to breaches that are attributable to it under this Contract.

If the User notes a breach of obligations above mentioned, he/she is invited to report such acts to us by contacting the Customer Service at this following email address: contact@Leetchi-corp.com.

<h3>10. Duration of the General Conditions of Use and cancellation</h3>

The General Conditions of Use are entered into for an undetermined period of time from the creation of the Login or the express approval of the User by the Issuer. The User can at any time and respecting a notice period of 30 (thirty) calendar days, proceed to the Termination of the General Conditions of Use. Such termination shall constitute also the termination of the entire Contract. In order to accomplish the termination, the User must transmit his/her notice to the Customer Service by registered letter with acknowledgment of receipt at the following postal address: Sharegrid Ltd, Itälahdenkatu 6 A 12, 00210 Helsinki, Finland

The User will have to communicate the bank account details allowing the Issuer to reimburse to the User the Electronic Money which is credited to his/her Account. In the absence of such information, the Issuer shall follow the Reimbursement instructions entailing the reimbursement by credit on the Credit Card used for the purchase of the Electronic Money. The Issuer is discharged of any obligation after having confirmed to the User the transfer to the bank account indicated or the credit on the Credit Card of the amount of the Electronic Money reduced of the corresponding fees.

In case of gross default, fraud or lack of payment from it, the Issuer retains the right to suspend these provisions by sending an email accompanied eventually by a registered letter with acknowledgement of receipt. The termination shall entail the removal of the Account, and, as the case maybe the reimbursement of the Users. These Reimbursements may in certain case be blocked according to the legislation of anti-money laundering and financing of terrorism.

The termination of the General Conditions of Use on the initiative of the Issuer cannot entail any right to compensation to the benefit of the User, the Distributor or the Beneficiary.

<h3>11. Right of withdraw</h3>

The User has a deadline of 14 (fourteen) calendar days to pursue his/her right of withdrawal, without having to neither justify any motive nor sustain any penalty. This deadline for withdrawal shall be computed from the day of its registration as a User.

The User must notify his/her request of withdrawal within the deadline prescribed to the Customer Service of the Distributor by telephone or by email and submit a confirmation letter at the postal address of the Customer Service of the Distributor.

<h3>12. Rules regarding Anti-money laundering and combating the financing of terrorism</h3>

The Issuer is subject to the entire French and Luxembourg legislation regarding anti-money laundering and combating the financing of terrorism.

In application of the provisions of French and Luxembourg law, relating to the participation of financial institutions in the anti-money laundering and combating the financing of terrorism, the Issuer must obtain information from any User for any transaction or business relationship of the origin, purpose and destination of the transaction or the opening of an account. In addition, it must make all the audit necessary to the identification of the User and, as the case maybe the effective Beneficiary. The latter undertakes to make all audit to allow the Issuer to realize a close examination of the transaction, to inform him/her about any exceptional transaction compared to the usual transactions registered under these rules and to provide him/her with any document or information required.

The User recognizes that the Issuer can stop or delay at any time the use of a login, the access to an Account or the execution of a transaction or a Reimbursement in the absence of sufficient element about its purpose or nature. He/She is informed that a transaction executed under these rules may be subject to the exercise of the right to communicate to the national financial intelligence unit.

The User can, in accordance with the legislation, access all this information communicated subject to such right of access does not challenge the purpose of anti-money laundering and combating the financing of terrorism, where this data concerns the claimant.

No pursuit and no action of tort can be brought or professional sanction taken against the Issuer, its managers or agents who have reported their suspicions in good faith to the national authority.

<h3>13. Personal data and obligation of confidentiality</h3>

The User agrees that contact details and personal information about him/her be communicated to the companies of the group to which the Issuer belongs as well as operational service with whom it is in a contractual relationship for the purpose of the execution of transactions and services offered subject to the third parties recipients of personal data be subject to rules ensuring adequate level of protection as defined in the French and Luxembourg Law. The list of the third parties recipients of information protected by the obligation of confidentiality is available by simple request from the conformity manager of the Issuer. This information is stored by the latter or by any company authorized to do so, in accordance with legal and regulatory rules.

He/she may at any time object to receiving commercial solicitation, have his or her contact details amended, object to their disclosure by notifying by registered letter or e-mail followed by a request of receipt to the customer service of the Issuer. This letter shall indicate his/her last name, first name and Login. In accordance with the applicable regulation, such letter must also be signed, accompanied with the photocopy of an identity document containing the signature of the User and indicate the address where he/she wishes to receive the response. A response will be sent to the address indicated within a period of 2 (two) months following the receipt of the request.

The Issuer will store the information and personal data within the maximum legal or regulatory period applicable depending on the purpose of each data processing.

The conditions of collection, possession and access to personal data collected by the Issuer and under its responsibility regarding the access to the Website, are governed by the General Conditions of the Website and the privacy policy, which is published on the Website.

<h3>14. Inactive account</h3>

The Issuer and the Distributor have the right to close Accounts that have been inactive for more than 24 months.

Please refer to the Distributor’s terms and conditions.

<h3>15. Force majeure</h3>

The Parties shall not be held liable or considered to have failed under these rules in case of late or non- performance when their cause is related to a force majeure situation as defined by the case law of the French courts.

<h3>16. Independance of contractual rules</h3>

If any provision of these rules is considered null or without object, it will be deemed to be unwritten and will not entail the nullity of the other provisions.

If one or several provisions of these rules become lapsed or are considered lapsed further to the application of a law, a regulation or following a final decision granted by a competent jurisdiction, the other provisions will keep their binding force and scope. The provisions declared null and void will be replaced by provisions which will approximate the most with respect to their meaning and scope from the originally agreed provisions.

<h3>17. Protection of deposits</h3>

The funds of the Users are deposited at the end of each business day in an account opened with a Bank and are ring fenced by it.

<h3>18. Unassignability</h3>

The Contract shall not be subject to a total or partial transfer by the User, for valuable consideration or for free. It is further prohibited to transfer to a third party any rights or obligations that it owns under these rules. In case of breach of this prohibition, in addition to the termination of these rules, its liability may be triggered by the Issuer or the Distributor.

<h3>19. Fees</h3>

The fees related to the creation and management services of the account are invoiced by the Issuer and are included in the fees indicated in the General Conditions of the WebSite.

<h3>20. Agreement of proof</h3>

All data included in a permanent, reliable and secure manner in the computer database of the Issuer relating, in particular, to the payment orders and confirmations received by the User, to the notices sent, access, Withdrawal, Reimbursement will prevail between the parties until proven otherwise.

<h3>21. Application Law and competent jurisdiction</h3>

Save for the case of application of a public policy law (which will apply within the strict limits of its purpose), it is expressly stipulated that the Contract is subject to French law and that any litigation between the Parties under this latter shall be subject to the jurisdiction of the competent French courts.

