= form_for @rental_request, :url => path_for_status_link(@rental_request.different_dates_status, @conversation, @current_user), :html => {:class => "nopadding"} do |form|
  = render :partial => "listing_conversations/rental_request/form"
  - if @rental_request.dates_editable?(@current_user)
    #edit-rental-dates-buttons.conversation-status{:style => "display: none;"}
      .status-links
        .inbox-horizontally-aligned-link
          = form.button t(".submit"), :class => "status-link accept", :id => "suggest_different_dates"
        .inbox-horizontally-aligned-link
          %a.status-link.reject{:href => "#", :id => "cancel-edit-rental-dates"}
            .content
              = t(".cancel")