- if service_name != "Sharegrid"
  %h2 #{service_name(:genetive)} käyttöehdot
  %p
    #{service_name} on Sharegrid-ohjelmistoa hyödyntävä verkkopalvelu. Alla olevat Sharegridn yleiset käyttöehdot koskevat myös #{service_name}-palvelua.
- else
  %h2 Sharegridn käyttöehdot
%p
  Sharegrid on verkkopalvelu, jonka avulla paikallisyhteisön jäsenet voivat välittää keskenään tavaroita, palveluksia ja kyytejä. Sharegrid-palvelua saa käyttää vain näiden käyttöehtojen mukaisesti. Palvelun ylläpitäjä voi tarvittaessa muuttaa näitä ehtoja. Voimassaolevat ehdot löytyvät Sharegridn www-sivuilta.

%h3 Oikeudet sisältöön

%p
  Käyttäjillä on itsellään oikeus tekstiin, kuviin ja muuhun sisältöön, jonka he tuottavat palveluun. He sallivat muiden käyttää sisältöä palvelun luonteen mukaisesti ja sallivat palvelun ylläpitäjän arkistoida tietoa ja tehdä siihen palvelun ja tutkimuksen kannalta tarpeellisia muutoksia, mutta eivät siirrä muita oikeuksia ellei erikseen toisin sovita. Vastuu sisällöstä on käyttäjällä, joka sen on palveluun tuottanut. Palvelun ylläpitäjä voi vapaasti poistaa palvelusta sisältöä.

%h3 Ei takuuta

%p
  Sharegrid-palvelun toimivuudesta ei anneta takuita. Käyttäjän tulee itse arvioida palvelussa tekemiensä toimien järkevyys ja turvallisuus sekä muiden käyttäjien luotettavuus. Palvelun ylläpitäjä ei missään tapauksessa ole korvausvelvollinen palvelun käyttäjille aiheutuneista vahingoista. Käyttäjä ei saa tallettaa palveluun mitään tietoa tai sisältöä olettaen sen varmasti säilyvän palvelussa.

%h3 Käyttäjän poistaminen

%p
  Palvelun ylläpitäjällä on oikeus poistaa käyttäjä Sharegridsta ja lopettaa hänen käyttöoikeutensa palveluun ilman erityistä syytä ja ilman korvausvelvollisuutta.

%h3 Sovellettava laki

%p
  Ellei jostain pakottavasta laista muuta johdu, palveluun ja näihin käyttöehtoihin sovelletaan Suomen lakia.
