!!! 5
!!! xml
%html{html_attrs(I18n.locale).merge({"xmlns:og"=>"http://ogp.me/ns#"})}
  %head
    %title
      Sharegrid -
      = t("error_pages.error_#{status}_title")
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css" />

  %body
    .wrapper
      .centered-section.error-page
        = render :partial => "errors/status_#{status}"
        %p= link_to t("error_pages.back_to_kassi_front_page"), "/#{I18n.locale}"
        <form accept-charset="UTF-8" action="/user_feedbacks" id="new_error_feedback" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
        <label for="feedback_email">
        = t('error_pages.your_email_address')
        </label>
        <input class="text_field" id="feedback_email" name="feedback[email]" size="30" type="text" />
        <label for="feedback_content">
        = t('error_pages.error_description')
        </label>
        <textarea class="feedback" cols="40" id="feedback_content" name="feedback[content]" rows="20"></textarea>
        <input id="feedback_author_id" name="feedback[author_id]" type="hidden" value="Anonymous" />
        <input id="feedback_url" name="feedback[url]" type="hidden" value="Error page 500" />
        <button class="send_button" name="button" type="submit">
        = t('error_pages.send')
        </button>
        </form>
