- if @listing.has_discount_rules?
  - @discount_rules.each_with_index do |rule, index|
    .discount_rule
      = rule.parse_title
      .discounted_price{id: "discounted_price#{index}"}
  - if seller_commission_in_use
    - gateway = @current_community.payment_gateway
    - content_for :discount_rules_js do
      :javascript
        $(function() {
          updateDiscountedValue(
            "#listing_price",
            "#discounted_price",
            "#listing_currency",
            [#{json_discount_rules_deduction_formulas(@discount_rules)}],
            #{gateway.community_commission_percentage},
            #{Maybe(gateway).gateway_commission_percentage.or_else(0)},
            #{Maybe(gateway).gateway_commission_fixed.amount.or_else(0)});
        });
  - else
    - content_for :discount_rules_js do
      :javascript
        $(function() {
          updateDiscountedValue(
            "#listing_price",
            "#discounted_price",
            "#listing_currency",
            [#{json_discount_rules_deduction_formulas(@discount_rules)}]);
        });
  - if run_js_immediately
    = yield :discount_rules_js
  - else
    - content_for :extra_javascript do
      = yield :discount_rules_js