- listing = @listing_conversation.listing

- content_for :javascript do
  initialize_send_message_form('#{I18n.locale}', '#{Listing.opposite_type(listing.direction)}', '#{@rental_request.present? && @rental_request.dates_editable?(@current_user)}');

- action_button_label = listing.transaction_type.action_button_label(I18n.locale)

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing.title, listing)

#new_message_form.centered-section-wide

  = render partial: "conversations/details", locals: { listing_conversation: @listing_conversation, listing: listing }

  = form_for @listing_conversation, :url => person_listing_listing_conversations_path(:person_id => @current_user.id, :listing_id => @listing.id) do |form|
    - if @rental_request
      = render :partial => "listing_conversations/rental_request/form"

    = fields_for "listing_conversation[message_attributes]", Message.new do |message_form|
      = message_form.label :content, t("conversations.new.message_to", author_name: link_to(listing.author.name, listing.author)).html_safe
      = message_form.text_area :content, :class => "text_area"
      = message_form.hidden_field :sender_id, :value => @current_user.id

    = t("conversations.new.author_has_to_accept_request", author_name: link_to(listing.author.name, listing.author)).html_safe

    = form.button action_button_label, :class => "send_button"
