- content_for :javascript do
  initialize_new_tribe_form("#{I18n.locale}","#{t("communities.new_tribe_form.domain_invalid")}","#{t("communities.new_tribe_form.domain_taken")}", "#{t("communities.new_tribe_form.select_main_language_of_your_tribe")}");

- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"

.grid_12.alpha.omega
  %h1.new_tribe= t(".create_a_tribe_in_a_minute")
  %h2.new_tribe= t(".welcome_now_create_your_tribe", :name => @current_user.given_name_or_username)
.clear
.grid_8.prefix_2.suffix_2.alpha.omega
  #new_tribe_form
    .form_field_container_taller
      .language= t(".language")
      = form_tag(new_tribe_path, :method => "get", :remote => true) do
        .div{:style => "font-size: 20px"}
          = select_tag "community_locale", options_for_select(Kassi::Application.config.AVAILABLE_DASHBOARD_LOCALES, session[:community_locale]), :prompt=> t(".select_main_language_of_your_tribe"), :onchange => 'this.form.submit()', :class => 'community_language_select'
    - if session[:community_locale]
      = form_for @community, :url => tribes_path + "?ref=tribe_created" do |form|
        .form_field_container_taller
          = form.label :name, t(".name_of_your_tribe")
          = form.text_field :name, :maxlength => "50"
        .form_field_container_taller
          = form.label :domain, t(".web_address_of_your_tribe")
          .domain_container
            %span.domain= "http://"
            = form.text_field :domain, :maxlength => "50", :class => "domain_field"
            %span.domain= ".sharegrid.com"
        .form_field_container_taller
          = form.label :slogan, t(".slogan_of_your_tribe")
          = form.text_field :slogan, :maxlength => "100", :value => (@community.slogan || t("common.default_community_slogan", :locale => (session[:community_locale] || "en")))
        .form_field_container_taller
          = form.label :address, t(".address"), :class => "input"
          = form.text_field :address, :class => "text_field", :onkeyup => "timed_input(this)"
          #new_community_map_canvas.map
            - content_for :extra_javascript do
              :javascript
                source = document.getElementById("community_address");
                $(document).ready(function(){
                  googlemapMarkerInit("new_community_map_canvas","community_location","community_address", true, undefined, undefined);
                });
        .form_field_container_taller
          = form.label :description, t(".describe_your_tribe")
          = form.text_area :description, :maxlength => "500", :value => (@community.description || t("common.default_community_description", :locale => (session[:community_locale] || "en"))), :class => "new_tribe_text_area"
        .form_field_container
          .signup_checkbox_container
            .signup_checkbox_input_container
              %input{:type => "checkbox", :id => "community_join_with_invite_only", :name => "community[join_with_invite_only]"}
            .signup_checkbox_label_container
              = form.label :join_with_invite_only, t('.restrict_tribe_to_invited_people'), :class => "checkbox"
              = link_to t("common.what_is_this"), "#", :id => "invite_only_help_text_link", :class => "green_part_link_smaller smaller"
        - if session[:consent] && session[:consent].eql?(APP_CONFIG.consent)
          = form.hidden_field :terms, :value => "true"
        - else
          .form_field_container
            .signup_checkbox_container
              .signup_checkbox_input_container
                %input{:type => "checkbox", :id => "community_terms", :name => "community[terms]"}
              .signup_checkbox_label_container
                = form.label :terms, t('people.new.i_accept_the'), :class => "checkbox"
                = link_to t("people.new.terms"), "#", :tabindex => "-1", :id => "terms_link", :class => "green_part_link"
        .form_field_container_taller
          = fields_for "community[admin_attributes]", CommunityMembership.new do |admin_form|
            = admin_form.hidden_field :person_id, :value => @current_user.id
            = admin_form.hidden_field :consent, :value => APP_CONFIG.consent
          = form.hidden_field :consent, :value => APP_CONFIG.consent
          = form.hidden_field :category, :value => session[:community_category]
          - if community_email_restricted?
            = form.hidden_field :allowed_emails, :value => session[:allowed_email]
          = hidden_field_tag :community_locale, session[:community_locale]
          = form.fields_for :location do |loc|
            = loc.hidden_field :address, :value => @community.location.address
            = loc.hidden_field :google_address, :value => @community.location.google_address
            = loc.hidden_field :latitude, :value => @community.location.latitude
            = loc.hidden_field :longitude, :value => @community.location.longitude
            = loc.hidden_field :location_type, :value => "community"
          = form.submit t(".create_your_tribe"), :class => "form_button", :id => "create_community_button"

- if session[:community_locale]
  = render :partial => "people/help_texts_old", :collection => ["terms"], :as => :field
= render :partial => "people/help_texts_old", :collection => ["invite_only_help_text"], :as => :field
