.grid_12.alpha.omega
  %h1.new_tribe= t(".select_your_plan")
  %h2.new_tribe
    = t(".pick_one_of_the_options_below")
    = t(".you_can_change_and_cancel")
.clear
.grid_4.alpha
  .pricing_column
    %h3.pricing= t(".free_plan")
    %ul
      %li= t(".no_charge")
      %li= t(".max_members", :number => 50)
      %br/
      %br/
    = link_to t(".create_for_free"), new_tribe_path(:pricing_plan => "free"), :id => "free_plan_link", :class => "pricing_plan_selection"
.grid_4
  .pricing_column
    %h3.pricing= t(".premium_plan")
    %ul
      %li= t(".euros_per_month_premium", :price => (session[:community_category].nil? || ["university","company"].include?(session[:community_category]) ? "150" : "75")) + (session[:community_category] ? "" : "*")
      %li= t(".care_free_user_support")
      %li= t(".max_members", :number => 500)
      %br/
    = link_to t(".create_your_tribe"), new_tribe_path(:pricing_plan => "premium"), :id => "premium_plan_link", :class => "pricing_plan_selection"
.grid_4.omega
  .pricing_column
    %h3.pricing= t(".professional_plan")
    %ul
      %li= t(".unlimited_members")
      %li= t(".intranet_integration")
      %li= t(".custom_domain")
      %li= t(".we_help_you_get_started")
    = link_to t(".contact_us"), "mailto:sales@sharegrid.com", :id => "pricing_page_contact_link", :class => "pricing_plan_selection"
.clear
.grid_12.alpha.omega
  - unless session[:community_category]
    %h2.new_tribe_bottom= "*" + t(".discounts_available_for_non_profits")
