%h3
  Registrar
%p
  #{service_name} service: Sharegrid Ltd
  %br
  = link_to "www.sharegrid.com", "http://www.sharegrid.com/en"
  %br
  info (at) sharegrid.com

%h3
  Contact person
%p
  Antti Virolainen
  %br
  Kirjurinkuja 3 F 46 02600 Espoo
  %br
  +358-50-5311793
  %br
  antti.virolainen (at) sharegrid.com

%h3
  Name of the register
%p
  User register of the #{service_name} service
%h3
  Use of personal details (purpose of register)
%p
  Personal details are collected to make communication and use of service possible. Details can be used for communication between service providers and users and also for direct communication between users. Some personal details are visible on the profile page of the user, but those details are voluntary (except name).
%p
  The handling of personal details is not outsourced, but the register data is stored on a server that is rented from a third party company.
%h3
  Information content of the register
%p
  The following information may be stored in the register:
  %ul
    %li
      Personal details: Name, email address, phone number, street address
    %li
      Account details: username, password (stored in encrypted format)
    %li
      The description text that the user may write about him/herself
    %li
      The offers and requests the user has posted to the service
    %li
      The given and received feedback and badges
    %li
      Statistical data about service usage, e.g. number times the user has logged in
%h3
  Regular sources of information
%p
  Personal details are given by the user on registration to the service or when using it later.
%h3
  Regular handovers of the information
%p
  The information may be handed over for research purposes as described in the
  = link_to t('layouts.infos.terms'), terms_infos_path
  that the user accepts before starting to use the service. The researchers may not publish any research results so that identifying information would be revealed or that any specific user could be detected.
%p
  Information considering users of a single #{service_name} community may be handed over to the client who has founded that community or to the community administrators appointed by that client.
%h3
  Transfers of the information outside the EU and the European Economic Area
%p
  Information may be stored to a server that may be located inside or outside of the EU and the European Economic Area
%h3
  Register protection principles
%p
  The information is stored on computers. The access to the information is restricted with passwords and physical access to the computers is restricted by the server hosting company.
