%h3
  Rekisterinpitäjä
%p
  #{service_name} verkkopalvelu: Sharegrid Oy
  %br
  = link_to "www.sharegrid.com", "http://www.sharegrid.com/fi"
  %br
  info@sharegrid.com

%h3
  Yhteyshenkilö rekisteriä koskevissa asioissa
%p
  Antti Virolainen
  %br
  Kirjurinkuja 3 F 46 02600 Espoo
  %br
  +358-50-5311793
  %br
  antti.virolainen@sharegrid.com

%h3
  Rekisterin nimi
%p
  #{service_name}-palvelun käyttäjärekisteri
%h3
  Henkilötietojen käsittelyn tarkoitus
%p
  Tietoja kerätään, jotta palvelun käyttö ja yhteydenpito käyttäjien kanssa on mahdollista. Yhteydenpitoa voi tapahtua sekä palvelun ylläpitäjien ja käyttäjän välillä että suoraan käyttäjien välillä. Osa käyttäjän tiedoista on näkyvissä myös hänen profiilisivullaan palvelussa, mutta nimeä lukuunottamatta näiden tietojen antaminen palvelulle on vapaaehtoista.
%p
  Henkilötietojen käsittelyä ei ole ulkoistettu, mutta niiden tallentaminen tapahtuu ulkopuoliselta yritykseltä vuokratuille palvelimille.
%h3
  Rekisterin tietosisälto
%p
  Rekisteriin voidaan tallentaa:
  %ul
    %li
      Yksilöintitiedot: Nimi, sähköpostiosoite, puhelinnumero, katuosoite
    %li
      Kirjautumistiedot: käyttäjätunnus, salasana (tallennetaan salattuna)
    %li
      Käyttäjän itse kirjoittama kuvaus itsestään
    %li
      Käyttäjän palveluun jättämät pyynnöt ja tarjoukset
    %li
      Käyttäjän saamat ja antamat palautteet sekä ansiomerkit
    %li
      Tilastotietoa palvelun käytöstä, esimerkiksi kirjautumisten lukumäärä
%h3
  Säännönmukaiset tietolähteet
%p
  Henkilötiedot ovat käyttäjän itsensä ilmoittamia, joko rekisteröitymisen yhteydessä tai palvelua myöhemmin käyttäessä.
%h3
  Tietojen säännönmukaiset luovutukset
%p
  Tietoja voidaan luovuttaa tutkimuskäyttöön palvelun käyttöehdoissa kuvatulla tavalla. Käyttäjä antaa hyväksynnän tälle luovutukselle hyväksymällä
  = link_to t('layouts.infos.terms'), terms_infos_path
  aloittaessaan palvelun käytön. Tutkijoilla ei ole kuitenkaan lupaa julkaista tutkimustuloksissaan yksilöiviä henkilötietoja, joista yksittäiset käyttäjät olisi mahdollista tunnistaa.
%p
  Kullekin #{service_name}-yhteisön perustaneelle asiakkaalle voidaan luovuttaa tietoja tähän yhteisöön rekisteröityneistä käyttäjistä. Tietoja voidaan antaa myös tämän asiakkaan valitsemille yhteisöylläpitäjille.
%h3
  Tietojen siirto EU:n tai ETA:n ulkopuolelle
%p
  Tiedot voidaan tallentaa palvelimelle, joka voi sijaita EU:n ja ETA:n ulko- tai sisäpuolella.
%h3
  Rekisterin suojauksen periaatteet
%p
  Tiedot tallennetaan tietokoneille. Ohjelmallinen pääsy niihin on rajattu salasanoilla ja fyysinen pääsy laitetilaan on rajattu palvelimet tarjoavan yrityksen toimesta.
