.listing-conversation-rental_request-form
  .rental-dates
    %span.bold
      - if @rental_request.negotiating?
        = t("listings.rental_request.#{@rental_request.different_dates_status}_dates")
      - else
        = t("listings.rental_request.rental_dates")
      \:
    %span
      = l @rental_request.from_date, :format => :long_ordinal_without_year
      \-
      = l @rental_request.to_date, :format => :long_ordinal_without_year
      - if !@rental_request.negotiating? && @rental_request.dates_editable?(@current_user)
        \|
        %a.edit-rental-dates-link{href: "#"}
          .icon-pencil
          = t("listings.rental_request.edit_dates")
  - if @rental_request.negotiating?
    .new-rental-dates
      %span.bold
        = t("listings.rental_request.#{@rental_request.status}_dates")
        \:
      %span
        = l @rental_request.new_from_date, :format => :long_ordinal_without_year
        \-
        = l @rental_request.new_to_date, :format => :long_ordinal_without_year
        - if @rental_request.dates_editable?(@current_user)
          \|
          %a.edit-rental-dates-link{href: "#"}
            .icon-pencil
            = t("listings.rental_request.edit_dates")
    - @rental_request.from_date = @rental_request.new_from_date
    - @rental_request.to_date = @rental_request.new_to_date
  - if @rental_request.dates_editable?(@current_user)
    .edit-rental-dates-wrapper{:style => "display:none;"}
      %label
        = t("listings.rental_request.select_different_dates")
      .edit-rental-dates
        = render :partial => "listings/rental_request/date_pickers", locals: {rental_request: @rental_request, is_owner: current_user?(@listing.author)}
  .listing-wrapper
    .listing-rental-request-item-image
      - if @listing.listing_images.size > 0 && !@listing.listing_images.first.image_processing
        = image_tag @listing.listing_images.first.image.url(:email), {:alt => listed_listing_title(@listing)}
    .listing-rental-request-summary
      = render :partial => "listings/rental_request/summary", :locals => {:is_owner => current_user?(@listing.author)}
  .clear
- if @rental_request.dates_editable?(@current_user)
  - content_for :extra_javascript do
    :javascript
      $(function() {
        $(".edit-rental-dates-link").on("click", function(event) {
          $(".rental-dates").hide();
          $(".new-rental-dates").hide();
          $(".edit-rental-dates-wrapper").show();
          $(".conversation-status-wrapper").hide();
          $("#edit-rental-dates-buttons").show();
          event.stopPropagation();
          event.preventDefault();
        });
        $("#cancel-edit-rental-dates").on("click", function(event) {
          $(".rental-dates").show();
          $(".new-rental-dates").show();
          $(".edit-rental-dates-wrapper").hide();
          $(".conversation-status-wrapper").show();
          $("#edit-rental-dates-buttons").hide();
          event.stopPropagation();
          event.preventDefault();
        });
      });