%title
  Create a marketplace website

%meta{ :name => "keywords", :content => "Marketplace, Create a marketplace, How to create a marketplace, Create a marketplace website, Online marketplace, Create an online marketplace, Peer-to-peer marketplace" }
%meta{ :property => "og:title", :content => "#{service_name}"}
%meta{ :property => "og:url", :content =>"#{request.protocol}#{request.host}#{request.fullpath}"}
%meta{ :property => "og:image", :content => "https://s3.amazonaws.com/sharegrid/assets/sharegrid_icon.png"}
%meta{ :property => "og:site_name", :content =>"#{service_name}"}
%meta{ :property => "og:description", :content => t("layouts.application.meta_description")}
%meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
%meta{ :name => "description", :content => t("layouts.application.meta_description") }
%meta{ :name => "keywords", :content => t("layouts.application.keywords") }

/ CSS
= stylesheet_link_tag '//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&subset=latin,latin-ext'
= stylesheet_link_tag 'application'

/ Modernizr, in the head tag, right after stylesheets, for best performance:
= javascript_include_tag "modernizr.min"

/ Android pre Jellybean has an ugly bug, which prevents font-size 0 technique from
/ removing the spaces between inline-blocks. Remove this piece of code when pre Jellybean becomes unsupported
:javascript
  Modernizr.addTest('androidPreJellybean', function(){
    var ua = navigator.userAgent;
    if( ua.indexOf("Android") >= 0 ) {
      var androidversion = parseFloat(ua.slice(ua.indexOf("Android")+8));
      return androidversion < 4.1
    }
  });

= csrf_meta_tag

%link{:rel => "image_src", :href => "https://s3.amazonaws.com/sharegrid/assets/dashboard/sharegrid_logo.png"}

%link{:rel => "shortcut icon", :href => "/assets/favicon.ico"}
