- { :notice => "ss-check", :warning => "ss-info", :error => "ss-alert" }.each do |announcement, icon_class|
  - if flash[announcement]
    .flash-notifications
      - if flash[announcement].kind_of?(Array)
        - flash[announcement].each do |f|
          .flash-notification{:class => "flash-#{announcement.to_s}"}
            .flash-icon{:class => icon_class}
            .flash-text
              = f
      - else
        .flash-notification{:class => "flash-#{announcement.to_s}"}
          .flash-icon{:class => icon_class}
          .flash-text
            = flash[announcement]
