= render :partial => 'layouts/head'

%body

  %header.global-header.network-header
    .header-wrapper
      .network-header-content-container
        .left-side
          %img{:src => "https://s3.amazonaws.com/sharegrid/cover_photos/network/sharegrid_logo_red.png"}
        .right-side
          %ul.network-navi
            %li= link_to "about", "#about", :class => "global-navi"
            %li= link_to "how it works", "#how-it-works", :class => "global-navi"
            %li= link_to "blog", "http://blog.sharegrid.com/", :class => "global-navi"
            %li= link_to "contact", "mailto:info@sharegrid.com", :class => "global-navi-right"
        .top-menu-toggle.toggle.hidden-tablet{data: {toggle: '.top-menu'}}
          .ss-rows

    %nav.top-menu.toggle-menu.hidden
      = link_to "about", "#about"
      = link_to "how it works", "#how-it-works"
      = link_to "blog", "http://blog.sharegrid.com/"
      = link_to "contact", "mailto:info@sharegrid.com"

  = yield

  %footer
    .wrapper
      .network-header-content-container
        .left-side
          %ul.network-navi
            %li= link_to "about", "#about", :class => "footer-navi-left"
            %li= link_to "how it works", "#how-it-works", :class => "footer-navi"
            %li= link_to "blog", "http://blog.sharegrid.com/", :class => "footer-navi"
            %li= link_to "contact", "mailto:info@sharegrid.com", :class => "footer-navi"
        .right-side
          .company-name
            sharegrid ltd.
          %a.social-icon-circle{:href => "https://www.facebook.com/Sharegrid"}
            .ss-facebook.ss-icon.ss-social
          %a.social-icon-circle{:href => "https://twitter.com/sharegrid"}
            .ss-twitter.ss-icon.ss-social
          %a.social-icon-circle{:href => "https://plus.google.com/115623351324372170386"}
            .ss-googleplus.ss-icon.ss-social

  = javascript_include_tag 'application'
  = yield(:extra_javascript)
  :javascript
    $(document).ready(function() { initialize_network_defaults(); #{yield :javascript} });
